In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# BookCoverDataSet

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Cover Dataset
dataset=pd.read_csv('Dataset/book30-listing-test.csv',encoding = "ISO-8859-1")

In [5]:
columns = ['Id', 'Image', 'Image_link', 'Title', 'Author', 'Class', 'Genre']
dataset.columns = columns

In [6]:
dataset

,Id,Image,Image_link,Title,Author,Class,Genre
0,1438005687,1438005687.jpg,http://ecx.images-amazon.com/images/I/510l0qhi...,"Barron's GRE, 21st Edition",Sharon Weiner Green M.A.,28,Test Preparation
1,60750715,0060750715.jpg,http://ecx.images-amazon.com/images/I/51p5aUY%...,George Balanchine: The Ballet Maker (Eminent L...,Robert Gottlieb,1,Biographies & Memoirs
2,1580237959,1580237959.jpg,http://ecx.images-amazon.com/images/I/51pum0eW...,"A Partner in Holiness: Deepening Mindfulness, ...",Rabbi Jonathan P. Slater DMin,21,Religion & Spirituality
3,135137829,0135137829.jpg,http://ecx.images-amazon.com/images/I/51PuTPPC...,Construction Scheduling: Principles and Practi...,Jay S. Newitt,0,Arts & Photography
4,312556411,0312556411.jpg,http://ecx.images-amazon.com/images/I/51uNnIlI...,Literature and Its Writers: A Compact Introduc...,Ann Charters,15,Literature & Fiction
...,...,...,...,...,...,...,...
5694,399174680,0399174680.jpg,http://ecx.images-amazon.com/images/I/51JLVnuX...,Scandalous Behavior (A Stone Barrington Novel),Stuart Woods,17,"Mystery, Thriller & Suspense"
5695,1939454654,1939454654.jpg,http://ecx.images-amazon.com/images/I/417gaArF...,Age of Distraction: The Island,Patricia Mahon,17,"Mystery, Thriller & Suspense"
5696,1604601604,1604601604.jpg,http://ecx.images-amazon.com/images/I/51BJw1DW...,The Ghostly Quilts on Main (Colebridge Communi...,Ann Hazelwood,17,"Mystery, Thriller & Suspense"
5697,399166726,0399166726.jpg,http://ecx.images-amazon.com/images/I/51IQRzWX...,Saving Jason (A Jason Stafford Novel),Michael Sears,17,"Mystery, Thriller & Suspense"
5698,62073508,0062073508.jpg,http://ecx.images-amazon.com/images/I/51yRHldu...,Murder on the Orient Express: A Hercule Poirot...,Agatha Christie,17,"Mystery, Thriller & Suspense"

# GoodReads

In [8]:
dataset1=pd.read_csv("Dataset/goodreads_interactions.csv")

In [12]:
dataset1.head()

   user_id  book_id  is_read  rating  is_reviewed
0        0      948        1       5            0
1        0      947        1       5            1
2        0      946        1       5            0
3        0      945        1       5            0
4        0      944        1       5            0

In [8]:
dataset1.shape

(228648342, 5)

In [16]:
dataset2= dataset1.loc[dataset1.is_reviewed!=0]

In [17]:
dataset2.shape

(16219149, 5)

In [18]:
dataset2.dtypes

user_id        int64
book_id        int64
is_read        int64
rating         int64
is_reviewed    int64
dtype: object

In [21]:
dataset3=pd.read_csv("dataset/book_id_map.csv")

In [22]:
dataset3.head()

   book_id_csv   book_id
0            0  34684622
1            1  34536488
2            2  34017076
3            3     71730
4            4  30422361

In [24]:
dataset4=pd.read_csv("dataset/books.csv",error_bad_lines=False)

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

In [25]:
dataset4.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic